{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
  	"baseUrl": "F:/Work/packages/rttist/dev/wasm/swc/src",
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "decoratorsBeforeExport": false,
      "dynamicImport": true,
      "privateMethod": false,
    },
	"experimental": {
		"plugins": [
			["swc-plugin-rttist", {
				// Usually "name" property from the package.json of your package
				"name": "@demo",
				"rootDir": "F:/Work/packages/rttist/dev/wasm/swc/src"
			}]
		]
	}
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": false,
  "minify": false
}