{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
//   	"baseUrl": "./",
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "decoratorsBeforeExport": false,
      "dynamicImport": true,
      "privateMethod": false,
    },
//     "transform": null,
//     "loose": false,
//     "externalHelpers": false,
    // Requires v1.2.50 or upper and requires target to be es2016 or upper.
    //"keepClassNames": false
	"experimental": {
		"plugins": [
			["swc-plugin-rttist", {
				// Usually "name" property from the package.json of your package
				"name": "@demo",
				"rootDir": "src"
			}]
		]
	}
  },
  "sourceMaps": false,
  "minify": false
}